_site/
*~
*.astL
*.a2s
_gbeta/bin/gbeta-1.9.11-i386-linux-elf-bin
_gbeta/grammars/gbeta/gbeta-parser.bobs
_gbeta/grammars/gbeta/gbeta-parser.btabL
_gbeta/grammars/gbeta/gbeta-parser.lst
_gbeta/grammars/gbeta/gbeta-pretty.lst
_gbeta/grammars/gbeta/gbeta-pretty.pgram
_gbeta/grammars/gbeta/gbeta-pretty.ptblL
_gbeta/grammars/gbeta/linux/
_gbeta/grammars/gbeta/tables
_gbeta/src/gbeta2abeta/linux/
_gbeta/src/gbeta2abeta/private/linux/
_gbeta/src/grammarutils/linux/
_gbeta/src/grammarutils/private/linux/
_gbeta/src/linux/
_gbeta/src/main/gbeta
_gbeta/src/main/linux/
_gbeta/src/private/linux/
_gbeta/src/readline/linux/
_gbeta/src/TAGS
