bin/gbeta-1.9.8-i386-linux-elf-bin
grammars/gbeta/gbeta-parser.bobs
grammars/gbeta/gbeta-parser.btabL
grammars/gbeta/gbeta-parser.lst
grammars/gbeta/gbeta-pretty.lst
grammars/gbeta/gbeta-pretty.pgram
grammars/gbeta/gbeta-pretty.ptblL
*.bet
grammars/gbeta/linux/
grammars/gbeta/tables
src/gbeta2abeta/linux/
src/gbeta2abeta/private/linux/
src/grammarutils/linux/
src/grammarutils/private/linux/
src/linux/
src/main/gbeta
src/main/linux/
src/private/linux/
src/readline/linux/
*.a2s
*.astL

src/TAGS
