---
layout: nil
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- CodeMirror note: modes are required, otherwise it doesn't load properly -->
   <script src="/resources/codemirror2/lib/codemirror.js"></script>
   <link rel="stylesheet" href="/resources/codemirror2/lib/codemirror.css" />
   <link rel="stylesheet" href="/resources/codemirror2/mode/text/text.css" />
   <script src="/resources/codemirror2/mode/text/text.js"></script>
   <style type="text/css">
     .CodeMirror { border: 1px solid #ddd; border-radius: 4px; background-color: #eef; }
     .activeline { background-color:#f0fcff !important; }
   </style>

   <!-- jQuery -->
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

   <!-- gbeta Playground -->
   <script type="text/javascript" src="/resources/playground.js"></script>
</head>
<body>

<table id="gbeta">
  <tr>
    <td><img src="/images/logo.jpg"/></td>
    <td><div class="gb title"><a href="{% gbeta_tutorial first %}">gbeta&nbsp;Tutorial</a></div>
      <div class="gb version" style="text-align: right">
	Version: <b>gbeta-{% gbeta version %}</b>-r{% gbeta rev %}
      </div>
    </td>
    <td width="100%"></td>
    <td>{% gbeta_tutorial %}</td>
    <td width="60px">
      <ul id="links">
	<li><a href="/">Home</a></li>
	<li><a href="/tutorial/about.html">About</a></li>
	<li><a href="/tutorial/download.html">Download</a></li>
      </ul>
    </td>
  </tr>
</table>

<div class="site">
  <div id="post">
  {{ content }}
  </div>
  
  <div class="footer">
    <div class="contact">
      <p>
	Thomas Bracht Laumann Jespersen<br />
	<!-- laumann.thomas@gmail.com -->
      </p>
    </div>
  </div>
</div>

</body>
</html>
